@import "bourbon";
@import 'base/base';
@import 'neat';

div#agegate{
	&.lity-hide{
		display: none;
	}
	background-color: $base-background-color;
	text-align: center;
	overflow: auto; //important for when the content of the age-gate gets long
	padding: 50px;

	div.form-container{
		@include outer-container;
		h2{
			text-align: center;
			font-weight: normal;
		}
		input[type=number]{
			@include span-columns(2 of 6);
			text-align: center;
		}
		div.agegate-errors{
			text-align: center;
			p{
				margin-bottom: .5em;
			}
		}
		select[name=country]{
			@include span-columns(6 of 8);
			@include shift(1);
			margin-top: 1em;
			margin-bottom: 1em;
		}
		input[type=submit]{
			@include span-columns(4 of 8);
			@include shift(2);
		}
		div.checkbox-container{
			@include span-columns(8 of 8);
			text-align: center;
			p{
				margin-bottom: 0;
			}
		}
		div.legalmessage{
			@include span-columns(8 of 8);
			text-align: center;
		}
	}

	div.legalfooter{
		margin-top: 2em;
		text-align: center;
	}
}

@include media($medium-screen-up){
	div#agegate{
		@include span-columns(10 of 12);
		@include shift(1);
		@include omega();
	}
}

@include media($large-screen-up){
	div#agegate{
		@include span-columns(4 of 8);
		@include shift(2);
		@include omega();
	}
}